package homeview

import "github.com/ituoga/go-start/web/views/layoutview"

templ Index() {
    @layoutview.Main() {
        <h1>Welcome to Go-Start</h1>
        <p>Go-Start is a simple web application framework for Go</p>
    }
}